#ft { position: absolute; top: 10px; left: 0px; width: 300px ;
      overflow: hidden ; padding-right: 1em; }

div.ojsft {
  font-family: monospace;
}
div.ojsft-file { font-weight: normal; margin-left: 1em ; }

.ojsft-dir {
  font-weight: bold ;
  margin-left: 1em ;
}

.ojsft-dir-subs {
  margin-top: 0.1em;
  margin-left: 0.2em;
  padding-left: 0.2em;
  border-style: solid ;
  border-width: 0 0 0 1px ;
  border-color: #888888 ;
}
.selected { background-color: #aaf; }
.collapsed { display: none ; }
.expanded { display: normal; }

#bar {
  position: absolute ;
  top: 0px;
  left: 310px;
  height:32px;
  padding-top: 5px;
}
#ed {
  position: absolute;
  top: 32px;
  right: 0;
  bottom: 0;
  left: 310px;
}
